[target.xtensa-esp32s3-none-elf]
runner = "espflash flash --monitor"
# ESP32 needs -nostartfiles - moved here from [build] to not affect other targets
rustflags = [
    "-C", "link-arg=-nostartfiles",
]

[build]
target = "xtensa-esp32s3-none-elf"

[unstable]
build-std = ["core", "alloc"]

[env]
ESP_LOG = "info"
